<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body>
	<div class="container">
        <div class="row">
            <div class="col-md-4">
		        <h2>Register</h2>
		        <form action="/user/register" method="post">
                    <input class="form-control" type="text" name="username" placeholder="Username" />
                    <input class="form-control" type="password" name="password" placeholder="Password" />
                    <button type="submit">Register</button>
		        </form>

		        <h2>Login</h2>
		        <form action="user/login" method="post">
                    <input class="form-control" type="text" name="username" placeholder="Username" />
                    <input class="form-control" type="password" name="password" placeholder="Password" />
                    <button type="submit">Log In</button>
		        </form>
		    </div>
        </div>
	</div>


	<!-- Turbo library imports: jQuery, Turbo CDN, sample app.js -->
	<script type="text/javascript" src="/dist/js/vendor.min.js"></script>
	<script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>
</body>
</html>